@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:800,900');

@font-face {
	font-family: "Chalk";
	src: url("fonts/Chalkabout.otf");
  }
  
  *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}


  html {
	font-size: 62.5%;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
  }
html, body { height: 100%; }
body {
	background: beige;
	font-family: Alegreya Sans, sans-serif;
}

body{
	margin: 0px;
	padding: 0px;
	
}



footer {
	background-color: #3f3f3f;
	color: #d5d5d5;
	padding-top: 2rem;
  }
  
  hr.light {
	border-top: 1px solid #d5d5d5;
	width: 75%;
	margin-top: .8rem;
	margin-bottom: 1rem;
  }
  
  footer a {
	color: #d5d5d5;
  }
  
  hr.light-100 {
	border-top: 1px solid #d5d5d5;
	width: 100%;
	margin-top: .8rem;
	margin-bottom: 1rem;
  }
  
  /*Footer End*/
  
  
  /*Navbar
  .navbar {
	padding: .8rem;
  }
 
  /*#menu {
	background-color: transparent!important;
  }
  
  @media only screen and (max-width: 767px){
	#menu {
	  background-color: #343a40!important;
	}
  }
  
  .nav-link{
	  color: black;
  }
  .navbar-nav a {
	font-family: Chalk, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
  }
  
  .navbar-light .navbar-brand {
	font-family: Chalk, sans-serif;
	font-size: 1.3em !important;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
  }
  
  .navbar-nav li {
	padding-right: 20px;
  }
  
  .nav-link {
	font-size: 1.1em !important;
  }
  
  /*Navbar End*/





  .header {
	font-family: sans-serif;
	font-weight: bold;
	line-height: 1.6;
	/*height: 100vh;*/
	overflow: hidden;
	color: #333;
	font-size: 2rem;
	/*background-color: beige;*/
	/*background-image: 'logox.png';*/
  }
  
  .nav-box {
	display: none;
	position: fixed;
	top: 3rem;
	left: 3rem;
	
	/*dsvwevewvewvwe*/
  }

  .nav-box:checked ~, .nav-box .nav-label .nav-span {
	background-color: transparent;
  }
  
  .nav-box:checked ~ .nav-label .nav-span::before {
	-webkit-transform: rotate(45deg) translate(1px, -5px);
			transform: rotate(45deg) translate(1px, -5px);
	-webkit-transform-origin: left;
			transform-origin: left;
  }
  
  .nav-box:checked ~ .nav-label .nav-span::after {
	-webkit-transform: rotate(45deg) translate(2px, 4px);
			transform: rotate(45deg) translate(2px, 4px);
	-webkit-transform-origin: left;
			transform-origin: left;
  }
  
  .nav-box:checked ~ .nav-back {
	-webkit-transform: scale(10);
			transform: scale(10);
  }
  
  .nav-box:not(:checked) ~ .nav-label:hover .nav-span::before {
	top: -1.2rem;
  }
  
  .nav-box:not(:checked) ~ .nav-label:hover .nav-span::after {
	bottom: -1.2rem;
  }
  
  .nav-box:checked ~ .nav-list {
	padding: 2.9rem 0 0;
	width: 30rem;
	height: 30rem;
  }
  
  .nav-label {
	position: fixed;
	top: 3rem;
	left: 3rem;
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
	background-color: #033535;
	-webkit-box-shadow: 0 0 1rem rgba(3, 53, 53, 0.8), 0 0 2rem rgba(3, 53, 53, 0.5), 0 0 3rem rgba(9, 183, 183, 0.8);
			box-shadow: 0 0 1rem rgba(3, 53, 53, 0.8), 0 0 2rem rgba(3, 53, 53, 0.5), 0 0 3rem rgba(9, 183, 183, 0.8);
	cursor: pointer;
	z-index: 10;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
			transform: scale(1.5);
			margin-left: 20px;
			margin-top: 8px;
  }
  
  .nav-span {
	width: 3.5rem;
	height: .5rem;
	/*background-color: $white-color;*/
	display: inline-block;
	border-radius: 100px;
	position: relative;
  }
  
  .nav-span::before, .nav-span::after {
	content: "";
	width: 3.5rem;
	height: .5rem;
	/*background-color: $white-color;*/
	display: inline-block;
	border-radius: 100px;
	position: absolute;
	-webkit-transition: all .133s;
	transition: all .133s;
  }
  
  .nav-span::before {
	top: -1rem;
  }
  
  .nav-span::after {
	bottom: -1rem;
  }
  
  .nav-back {
	position: fixed;
	top: 3rem;
	left: 3rem;
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
	background: radial-gradient(circle, #033535 10%, rgba(1, 86, 86, 0.8) 10%, rgba(1, 86, 86, 0.8) 25%, rgba(5, 130, 130, 0.6) 25%, rgba(5, 130, 130, 0.6) 40%, rgba(9, 183, 183, 0.4) 40%, rgba(9, 183, 183, 0.4) 55%, rgba(8, 252, 252, 0.2) 55%, rgba(8, 252, 252, 1e-05) 100%);
	z-index: 8;
	-webkit-transition: all 0.5s cubic-bezier(0.17, 0.67, 0.58, 1.7);
	transition: all 0.5s cubic-bezier(0.17, 0.67, 0.58, 1.7);
	transform: scale(1.5);
    margin-left: 20px;
    margin-top: 8px;
  }
  
  .nav-list {
	position: fixed;
	top: 3rem;
	left: 3rem;
	list-style: none;
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
	overflow: hidden;
	-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
	z-index: 9;
	text-align: center;
	-webkit-transition: all 0.5s cubic-bezier(0.17, 0.67, 0.58, 1.7);
	transition: all 0.5s cubic-bezier(0.17, 0.67, 0.58, 1.7);
  }
  
  .nav-item {
	padding: 1.4rem;
  }
  
  .nav-link {
	text-decoration: none;
	color: #333;
	-webkit-transition: all .2s;
	transition: all .2s;
  }
  
  .nav-link:hover {
	color: #08fcfc;
  }

  #logo:hover{
	  transform: scale(1.2);
  }
  /*# sourceMappingURL=main.css.map */










.animation{
	height: auto;
	width: 100%;
	overflow: hidden;
	/*padding-top: 57px;*/
}


/*Treehouse*/
#treehouse {
	position: absolute;
	display: block;
	right: 52px;
	left: auto;
	width: 21rem;
	height: 21rem;
	background-size: contain;
	margin-top: 79px;
}

#donate:hover{
	transform: scale(1.2);
}
/*Treehouse End*/

/*donate*/
#donate {
	position: absolute;
	display: inline-block;
	right: 21rem;
	margin-top: 5rem;
	left: auto;
	width: 8rem;
	height: 8rem;
	background-size: contain;
	margin-top: 111px;
	margin-left: 37px;
}

#Dbut{
	display: none;
	margin-left: 35%;
}
@media(max-width: 1024px){
	#treehouse{
		margin-top: 77px;
	}
	
}
@media(max-width: 768px){
	#donate{
		margin-right: -56px;
		margin-top: 108px;
	}
	#treehouse{
		margin-top: 77px;
		margin-right: -50px;
	}
}
@media (max-width: 650px) {
  #donate, #treehouse {
    display: none;
	}
	#Dbut{
		display: inline-block;
	}
  }
/*donate End*/


/*Progess-o-meter*/
#progress {
	font-family: Chalk;
}

.fa-street-view {
	color: #e54d26;
  }
  
  .fa-globe {
	color: #2163af;
  }
  
  .fa-users {
	color: #563d7c;
  }
  
  .fa-cutlery {
	color: #41473b;
  }
  
  .fa-street-view, .fa-globe, .fa-users, .fa-cutlery {
	font-size: 4rem!important;
	margin: 1rem;
  }
  
  /*Progess-o-meter End*/
  
  
  
  /*Rainbow-BG*/
  #rainbow-bg {
	  background: linear-gradient(116deg,#598ae4,#4200f9,#00f9cf,#0ad9f0);
	  background-size: 400% 400%;
	  animation: gradient 15s ease infinite;
	  color: white;
  }
  
  @keyframes gradient {
	  0% {
		  background-position: 0% 50%;
	  }
	  50% {
		  background-position: 100% 50%;
	  }
	  100% {
		  background-position: 0% 50%;
	  }
  }
  /*Rainbow-BG End*/




.train{
	height: auto;
	width: 100%;
	overflow: hidden;
	
}
* {
    padding:0;
    margin:0
}
.social-icons {
	list-style: none;
	width: 50px;
  position: fixed;
  top:40%;
  right:0%;
    font-size: 30px;
}
.social-icons li {
	float:none;
  display: block
}
.social-icons li a {
    display:inline-block;
    width:50px;
    height:50px;
    overflow:hidden
}
.social-icons li a i {
    padding:13px
}
.facebook {
    color:#3d5b99
}
.facebook:hover {
    color:#fff;
  	background-color: #3d5b99
}
.twitter {
    color:#00aced
}
.twitter:hover {
    color:#fff;
  	background-color: #00aced
}
.youtube {
    color:#e64a41
}
.youtube:hover {
    color:#fff;
	  background-color: #e64a41
}
.linkedin {
    color:#0073a4
}
.linkedin:hover {
    color:#fff;
  	background-color: #0073a4
}
.instagram {
    color:#e25714
}
.instagram:hover {
    color:#fff;
  	background-color: #e25714
}
.facebook,
.twitter,
.youtube,
.linkedin,
.instagram {
    -o-transition:.5s ease;
  	-ms-transition:.5s ease;
  	-moz-transition:.5s ease;
  	-webkit-transition:.5s ease;
  	transition: .5s ease
}
.facebook:hover,
.twitter:hover,
.youtube:hover,
.linkedin:hover,
.instagram:hover {
    width:50px
}


marquee{
	font-size: 40px;
	font-family: "Chalk";;
	font-weight: bold;
	font-style: italic;
}

#cloud1{
	animation: cloud1 7s linear infinite;
	transform-origin: bottom;
}
#cloud2{
	animation: cloud2 6s linear infinite;
	transform-origin: bottom;
}
#cloud3{
	animation: cloud3 5s linear infinite;
	transform-origin: bottom;
}
#cloud4{
	animation: cloud4 8s linear infinite;
	transform-origin: bottom;
}
#cloud5{
	animation: cloud5 10s linear infinite;
	transform-origin: bottom;
}
#cloud6{
	animation: cloud6 15s linear infinite;
	transform-origin: bottom;
}
#cloud7{
	animation: cloud7 18s linear infinite;
	transform-origin: bottom;
}
#pencil-fly{
	animation: pencil 1s ease-in-out infinite alternate;
	transform-origin: bottom;
}


@keyframes cloud1{
	from{
		transform: translateX(-200px);
	}
	to{
		transform: translateX(1200px);
	}
}
@keyframes cloud2{
	from{
		transform: translateX(-800px);
	}
	to{
		transform: translateX(1200px);
	}
}
@keyframes cloud3{
	from{
		transform: translateX(-500px);
	}
	to{
		transform: translateX(1200px);
	}
}
@keyframes cloud4{
	from{
		transform: translateX(-700px);
	}
	to{
		transform: translateX(1200px);
	}
}
@keyframes cloud5{
	from{
		transform: translateX(-700px);
	}
	to{
		transform: translateX(1200px);
	}
}
@keyframes cloud6{
	from{
		transform: translateX(-700px);
	}
	to{
		transform: translateX(1200px);
	}
}
@keyframes cloud7{
	from{
		transform: translateX(-700px);
	}
	to{
		transform: translateX(1200px);
	}
}
@keyframes pencil{
	from{
		transform: rotateX(15deg);
	}
	to{
		transform: rotateX(20deg);
	}
}


