@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:800,900');

html, body { height: 100%; }
body {
	background: beige;
	font-family: Alegreya Sans, sans-serif;
}

body{
	margin: 0px;
	padding: 0px;
	
}
.animation{
	height: auto;
	width: 100%;
	overflow: hidden;
	
}


/*Treehouse*/
#treehouse {
	position: absolute;
	display: block;
	right: 0;
	left: auto;
	width: 17rem;
	height: 17rem;
	background-size: contain;
}
/*Treehouse End*/

/*donate*/
#donate {
	position: absolute;
	display: inline-block;
	right: 15rem;
	margin-top: 5rem;
	left: auto;
	width: 5rem;
	height: 5rem;
	background-size: contain;
}

@media (max-width: 650px) {
  #donate, #treehouse {
    display: none;
	}
  }
/*donate End*/


/*Progess-o-meter*/
.fa-street-view {
	color: #e54d26;
  }
  
  .fa-globe {
	color: #2163af;
  }
  
  .fa-users {
	color: #563d7c;
  }
  
  .fa-cutlery {
	color: #41473b;
  }
  
  .fa-street-view, .fa-globe, .fa-users, .fa-cutlery {
	font-size: 4rem!important;
	margin: 1rem;
  }
  
  /*Progess-o-meter End*/
  
  
  
  /*Rainbow-BG*/
  #rainbow-bg {
	  background: linear-gradient(116deg,#598ae4,#4200f9,#00f9cf,#0ad9f0);
	  background-size: 400% 400%;
	  animation: gradient 15s ease infinite;
	  color: white;
  }
  
  @keyframes gradient {
	  0% {
		  background-position: 0% 50%;
	  }
	  50% {
		  background-position: 100% 50%;
	  }
	  100% {
		  background-position: 0% 50%;
	  }
  }
  /*Rainbow-BG End*/




.train{
	height: auto;
	width: 100%;
	overflow: hidden;
	
}
* {
    padding:0;
    margin:0
}
.social-icons {
	list-style: none;
	width: 50px;
  position: fixed;
  top:40%;
  right:0%;
    font-size: 30px;
}
.social-icons li {
	float:none;
  display: block
}
.social-icons li a {
    display:inline-block;
    width:50px;
    height:50px;
    overflow:hidden
}
.social-icons li a i {
    padding:13px
}
.facebook {
    color:#3d5b99
}
.facebook:hover {
    color:#fff;
  	background-color: #3d5b99
}
.twitter {
    color:#00aced
}
.twitter:hover {
    color:#fff;
  	background-color: #00aced
}
.youtube {
    color:#e64a41
}
.youtube:hover {
    color:#fff;
	  background-color: #e64a41
}
.linkedin {
    color:#0073a4
}
.linkedin:hover {
    color:#fff;
  	background-color: #0073a4
}
.instagram {
    color:#e25714
}
.instagram:hover {
    color:#fff;
  	background-color: #e25714
}
.facebook,
.twitter,
.youtube,
.linkedin,
.instagram {
    -o-transition:.5s ease;
  	-ms-transition:.5s ease;
  	-moz-transition:.5s ease;
  	-webkit-transition:.5s ease;
  	transition: .5s ease
}
.facebook:hover,
.twitter:hover,
.youtube:hover,
.linkedin:hover,
.instagram:hover {
    width:50px
}


marquee{
	font-size: 40px;
	font-family: cursive;
	font-weight: bold;
	font-style: italic;
}

#cloud1{
	animation: cloud1 7s linear infinite;
	transform-origin: bottom;
}
#cloud2{
	animation: cloud2 6s linear infinite;
	transform-origin: bottom;
}
#cloud3{
	animation: cloud3 5s linear infinite;
	transform-origin: bottom;
}
#cloud4{
	animation: cloud4 8s linear infinite;
	transform-origin: bottom;
}
#cloud5{
	animation: cloud5 10s linear infinite;
	transform-origin: bottom;
}
#cloud6{
	animation: cloud6 15s linear infinite;
	transform-origin: bottom;
}
#cloud7{
	animation: cloud7 18s linear infinite;
	transform-origin: bottom;
}
#pencil-fly{
	animation: pencil 1s ease-in-out infinite alternate;
	transform-origin: bottom;
}


@keyframes cloud1{
	from{
		transform: translateX(-200px);
	}
	to{
		transform: translateX(1200px);
	}
}
@keyframes cloud2{
	from{
		transform: translateX(-800px);
	}
	to{
		transform: translateX(1200px);
	}
}
@keyframes cloud3{
	from{
		transform: translateX(-500px);
	}
	to{
		transform: translateX(1200px);
	}
}
@keyframes cloud4{
	from{
		transform: translateX(-700px);
	}
	to{
		transform: translateX(1200px);
	}
}
@keyframes cloud5{
	from{
		transform: translateX(-700px);
	}
	to{
		transform: translateX(1200px);
	}
}
@keyframes cloud6{
	from{
		transform: translateX(-700px);
	}
	to{
		transform: translateX(1200px);
	}
}
@keyframes cloud7{
	from{
		transform: translateX(-700px);
	}
	to{
		transform: translateX(1200px);
	}
}
@keyframes pencil{
	from{
		transform: rotateX(15deg);
	}
	to{
		transform: rotateX(20deg);
	}
}


